<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout.html :: main-fragment(~{:: title}, ~{:: .css}, ~{:: .content-wrapper}, ~{:: .js})}"
      xmlns="http://www.w3.org/1999/html">

<head>
    <title>Voucher - ShopMefy</title>

    <th:block class="css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css"
              integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" th:href="@{/css/voucher/all-voucher.css}">
    </th:block>

</head>
<body>
<div class="content-wrapper">
    <div class="card mt-3">
        <div class="card-body">
            <div class="table-container">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                Tên voucher
                            </th>
                            <th>
                                Mã voucher
                            </th>
                            <th>
                                Giảm giá
                            </th>
                            <th>
                                Loại giảm giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Đã dùng
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="voucher : ${voucherList}">
                                <tr th:data-voucher-id="${voucher.id}">
                                    <td th:text="${voucher.title}"></td>
                                    <td th:text="${voucher.code}"></td>
                                    <td th:text="${voucher.reducedPrice}"></td>
                                    <td th:text="${voucher.reduceType}"></td>
                                    <td th:text="${voucher.originalQuantity}"></td>
                                    <td th:text="${voucher.usedQuantity}"></td>
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" th:checked="${voucher.status}">
                                            <span class="slider round">
                                                <span class="switch-label on">ON</span>
                                                <span class="switch-label off">OFF</span>
                                              </span>
                                        </label>
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-view-detail">Xem chi tiết
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="d-flex justify-content-center " id="pagination">

            </div>
        </div>
    </div>
</div>








<!-- content-wrapper ends -->
<th:block class="js">
    <!-- endinject -->
    <!-- Plugin js for this page -->

    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.js"
            integrity="sha512-GzbaI5EsNzdEUq6/2XLYpr1y9CUZRIVsUeWTAFgULtQa5jZ3Nug8i0nZKM6jp9NffBCZhymPPQFcF0DK+JkRpw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- End custom js for this page-->
    <script th:inline="javascript">
        const voucherList = /*[[${voucherList}]]*/ [];
        console.log(voucherList)
    </script>
    <script th:src="@{/js/voucher/all-voucher.js}"></script>

</th:block>

</body>

</html>
