<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout.html :: main-fragment(~{:: title}, ~{:: .css}, ~{:: .content-wrapper}, ~{:: .js})}"
      xmlns="http://www.w3.org/1999/html" class="custom-scrollbar">

<head>
  <title>Inventory - ShopMefy</title>

  <th:block class="css">
    <link rel="stylesheet" th:href="@{/css/products/inventory.css}">
  </th:block>

</head>
<body>
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-2">
      <button id="dropdown-menu-button" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Chọn nhóm hàng
      </button>
      <ul id="list-group" class="dropdown-menu custom-scrollbar">
        <li class="row py-1">
          <a th:href="@{/products/{storeId}/inventory?page=1 (storeId = ${storeId})}" class="col-md-10" data-group-product-id="0" >Chọn tất cả</a>
        </li>
        <th:block th:each="groupProduct : ${groupProductList}">
          <li class="row py-1" >
            <a th:href="@{/products/{storeId}/inventory?page=1&groupProductId={groupProductId} (storeId = ${storeId}, groupProductId = ${groupProduct.id})}" class="col-md-9" th:data-group-product-id="${groupProduct.id}" th:text="${groupProduct.name}"></a>
            <button type="button" class="col-md-2"
                    data-bs-toggle="modal" th:data-bs-target="'#updateGroupProduct' + ${groupProduct.id}"><i class="ti ti-pencil"></i></button>
          </li>
        </th:block>
      </ul>
    </div>
    <div class="col-md-2">
      <form class="search-form" action="#">
        <i class="icon-search search-product"></i>
        <input id="searchInput" type="search" class="form-control" placeholder="Nhập tên hàng" title="Tìm kiếm theo tên hàng">
        <div class="container">
          <div class="search-results-container custom-scrollbar">
            <ul id="searchResults" class="list-group"></ul>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8 custom-div d-flex justify-content-end">
      <button class="btn btn-primary mx-1 my-2" data-bs-toggle="modal" data-bs-target="#addProductModal"><i
              class="ti-plus"></i><span class="mx-lg-2"> Thêm mới</span></button>
      <button id="printStamp" class="btn btn-primary mx-1 my-2">
        <i class="typcn typcn-printer me-2 my-2"></i>
        In tem mã
      </button>
      <button id="btn-import" onclick="document.getElementById('importExcel').click()" class="btn btn-primary mx-1 my-2">
        <input type="file" id="importExcel" style="display: none;">
        <i class="ti ti-import me-2 my-2"></i>
        Import
      </button>
      <button id="btn-export" class="btn btn-primary mx-1 my-2">
        <i class="ti ti-export me-2"></i>Xuất file
      </button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>
                <div class="input-group">
                    <input id="checkAll" class="form-check-input" type="checkbox" value="" aria-label="">
                </div>
              </th>
              <th>
                Mã hàng
              </th>
              <th>
                Tên hàng
              </th>
              <th>
                Nhóm hàng
              </th>
              <th>
                Giá bán
              </th>
              <th>
                Giá vốn
              </th>
              <th>
                Tồn kho
              </th>
              <th>
                Trạng thái
              </th>
              <th>

              </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product : ${page.getContent()}">
              <tr th:data-product-id="${product.id}">
                <td>
                  <div class="input-group">
                    <input class="form-check-input" type="checkbox" value="" aria-label="">
                  </div>
                </td>
                <td class="py-1" th:text="${product.codeNumber}">
                </td >
                <td class="image-td">
                  <div class="image-container"
                       th:if="${product.images != null and product.images.size() > 0}">
                    <img class="thumbnail" th:src="@{'http://localhost:8080/' + ${product.images[0].id}}"
                         alt="Thumbnail Image">
                    <div class="overlay">.

                      <img class="large-image"
                           th:src="@{'http://localhost:8080/' + ${product.images[0].id}}"
                           alt="Large Image">
                    </div>
                  </div>
                  <div class="image-container"
                       th:if="${product.images == null or product.images.size() == 0}">
                    <img class="thumbnail" src="http://localhost:8080/images/image-default.jpg"
                         alt="Thumbnail Image">
                    <div class="overlay">
                      <img class="large-image"
                           src="http://localhost:8080/images/image-default.jpg"
                           alt="Large Image">
                    </div>
                  </div>
                  <th:block th:text="${product.name}"></th:block>
                </td>
                <td th:text="${product.groupProduct}">
                </td>
                <td>
                  <span th:text="${#numbers.formatDecimal(product.salePrice, 0, 'POINT', 0, 'COMMA')}">10.00</span>
                </td>
                <td>
                  <span th:text="${#numbers.formatDecimal(product.initialPrice, 0, 'POINT', 0, 'COMMA')}">10.00</span>
                </td>
                <td>
                  <span th:text="${#numbers.formatDecimal(product.quantity, 0, 'POINT', 0, 'COMMA')}">10.00</span>
                </td>
                <td>
                  <label th:text="${product.status}"
                         th:class="${product.status == 'Đang kinh doanh' ? 'badge badge-success' : 'badge badge-danger'}"> </label>
                </td>
                <td>
                  <button class="btn btn-info btn-view-detail">Xem chi tiết
                  </button>
                </td>
              </tr>
            </th:block>
            </tbody>
          </table>

      </div>
      <!--          phân trang-->
      <div class="d-flex justify-content-center mt-2" id="pagination">
        <ul class="pagination mb-0">
          <li class="paginate_button page-item previous"
              th:classappend="${currentPage == 1 ? 'disabled' : ''}" id="example2_previous">
            <a id="previous-page"
               aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
          </li>
          <th:block
                  th:with="numbers=${T(com.example.storemanagement.utils.Utils).createList(page.getTotalPages())}">
            <li th:each="number : ${numbers}" class="paginate_button page-item"
                th:classappend="${number == currentPage ? 'active' : ''}">
              <a
                 aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link page"
                 th:text="${number}" ></a>
            </li>
          </th:block>
          <li class="paginate_button page-item next"
              th:classappend="${currentPage == page.getTotalPages() ? 'disabled' : ''}"
              id="example2_next">
            <a id="next-page"
               aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal new product-->
  <div class="modal fade modal-new" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
         aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Thêm sản phẩm mới</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Form to add new product -->
            <form id="submitForm">
              <div class="row">
                <div class="col-md-8">
                  <div class="row mb-3">
                    <div class="col-md-3 py-1">
                      <label for="insertCodeNumber" class="form-label font-weight-400">Mã sản phẩm</label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="insertCodeNumber" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row mb-3">
                    <div class="col-md-4 text-center py-1 px-0">
                      <label for="insertInitialPrice" class="form-label font-weight-400">Giá vốn
                        <span style="color: red">*</span>
                      </label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="insertInitialPrice" name="insertInitialPrice" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="row mb-3">
                    <div class="col-md-3 py-1 ">
                      <label for="insertName" class="form-label font-weight-400">Tên sản phẩm
                        <span style="color: red">*</span>
                      </label>
                    </div>
                    <div class="col-md-9">
                      <input type="text" class="form-control" id="insertName" name="insertName" placeholder="">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row mb-3">
                    <div class="col-md-4 text-center py-1 px-0">
                      <label for="insertSalePrice" class="form-label font-weight-400" >Giá bán
                        <span style="color: red">*</span>
                      </label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="insertSalePrice" name="insertSalePrice" placeholder="">
                    </div>
                  </div>
                </div>
              </div>


              <div class=" row">
                <div class="col-md-8">
                </div>
                <div class="mb-3 col-md-4">
                  <div class="row">
                    <div class="col-md-4 text-center py-1 px-0">
                      <label for="insertQuantity" class="form-label font-weight-400">Số lượng
                        <span style="color: red">*</span>
                      </label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" class="form-control" id="insertQuantity" name="insertQuantity" placeholder="">
                    </div>
                  </div>
                </div>
              </div>
              <div class=" row py-2">
                <div class="col-md-4">
                  <div class="row py-1">
                    <div class="col-md-5 px-0">
                      <label for="insertGroupProduct" class="form-label font-weight-400">Nhóm hàng
                        <span style="color: red">*</span>
                      </label>
                    </div>
                    <select class="col-md-7 py-1" id="insertGroupProduct" name="insertGroupProduct" value="">
                      <option disabled selected hidden>---Lựa chọn---</option>
                      <th:block th:each="groupProduct : ${groupProductList}">
                        <option th:value="${groupProduct.id}">
                          <span th:text="${groupProduct.name}"></span>
                        </option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class=" col-md-8">
                  <div class="button-container">
                    <button type="button" class="btn-add btn-add-group" data-bs-toggle="modal" data-bs-target="#addGroupProduct">
                      <i class="ti-plus"></i>
                    </button>
                    <div class="info">Thêm nhóm hàng</div>
                  </div>
                </div>
              </div>
              <div class=" row py-2">
                <div class="col-md-4">
                  <div class="row py-1">
                    <div class="col-md-5 ">
                      <label for="insertSupplierSelect" class="form-label font-weight-400">Nhà cung cấp</label>
                    </div>
                    <select class="col-md-7 py-1" id="insertSupplierSelect">
                      <option disabled selected hidden>---Lựa chọn---</option>
                      <th:block th:each="supplier : ${supplierList} ">
                        <option th:value="${supplier.id}" th:text="${supplier.name}">1</option>
                      </th:block>
                    </select>
                  </div>
                </div>
                <div class=" col-md-8">
                  <div class="button-container">
                    <button type="button" class="btn-add btn-add-supplier" data-bs-toggle="modal" data-bs-target="#addSupplier">
                      <i class="ti-plus"></i>
                    </button>
                    <div class="info">Thêm nhà cung cấp</div>
                  </div>
                </div>
              </div>
              <!-- description-->
              <div class="row mt-3">
                <div class="col-md-6 mb-3">
                  <label for="insertProductDescription" class="form-label font-weight-400">Mô tả sản phẩm</label>
                  <textarea class="form-control mt-3" id="insertProductDescription" rows="5"
                            placeholder="Enter product description"></textarea>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="insertProductNote" class="form-label font-weight-400">Ghi chú</label>
                  <textarea class="form-control mt-3" id="insertProductNote" rows="5"
                            placeholder="Enter note"></textarea>
                </div>
              </div>
              <!-- end description-->
              <!--thêm hình ảnh-->
              <div class="image-gallery">
                <div class="image-frame">
                  <input type="file" id="image-input-1" name="imageInput" class="image-input" accept="image/*">
                  <label for="image-input-1" class="image-label">
                    <div class="image-preview"></div>
                  </label>
                </div>

                <div class="image-frame">
                  <input type="file" id="image-input-2" class="image-input">
                  <label for="image-input-2" class="image-label">
                    <div class="image-preview"></div>
                  </label>
                </div>

                <div class="image-frame">
                  <input type="file" id="image-input-3" class="image-input">
                  <label for="image-input-3" class="image-label">
                    <div class="image-preview"></div>
                  </label>
                </div>

                <div class="image-frame">
                  <input type="file" id="image-input-4" class="image-input">
                  <label for="image-input-4" class="image-label">
                    <div class="image-preview"></div>
                  </label>
                </div>

                <div class="image-frame">
                  <input type="file" id="image-input-5" class="image-input">
                  <label for="image-input-5" class="image-label">
                    <div class="image-preview"></div>
                  </label>
                </div>
              </div>
              <div class="d-flex mt-5 justify-content-end">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Huỷ bỏ</button>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary ms-2">Lưu lại</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


<!--  Modal thêm nhóm hàng -->
  <div class="modal fade" id="addGroupProduct" tabindex="-1" aria-labelledby="modalAddGroup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAddGroup">Thêm nhóm hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="groupName">Nhập tên nhóm hàng:</label>
            <input type="text" class="form-control" id="groupName">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button id="btnAddGroupProduct" type="button" class="btn btn-primary">Tạo</button>
        </div>
      </div>
    </div>
  </div>

<!--  Modal thêm nhà cung cấp-->
  <div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addClientModalLabel"
       aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientModalLabel">Thêm nhà cung cấp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-xl px-4 mt-4 d-flex justify-content-center">
            <div class="">
              <!-- Account details card-->
              <div class="card mb-4" style="width: 500px">
                <div class="card-header">Thông tin nhà cung cấp</div>
                <div class="card-body">
                    <div class="mb-3">
                      <label class="small mb-1" for="inputFullName">Tên nhà cung cấp</label>
                      <input class="form-control" id="inputFullName" type="text" placeholder="Nhập họ và tên">
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="inputLocation">Địa chỉ</label>
                      <input class="form-control" id="inputLocation" type="text" placeholder="Nhập địa chỉ">
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="inputEmailAddress">Email</label>
                      <input class="form-control" id="inputEmailAddress" type="email" placeholder="Nhập email">
                    </div>
                    <div class="mb-3">
                      <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                      <input class="form-control" id="inputPhone" type="tel" placeholder="Nhập số điện thoại">
                    </div>
                    <button id="add-supplier-btn" class="btn btn-primary float-end" type="submit">Xác nhận</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  Modal sửa nhóm hàng -->
  <th:block th:each="groupProduct: ${groupProductList}">
  <div class="modal fade modal-update-group" th:id="'updateGroupProduct' + ${groupProduct.id}" tabindex="-1" aria-labelledby="modalUpdateGroup" aria-hidden="true"
       th:data-group-product-id="${groupProduct.id}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalUpdateGroup">Sửa nhóm hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label th:for="'inputUpdateGroupName' + ${groupProduct.id}">Nhập tên nhóm hàng:</label>
            <input type="text" class="form-control p-2" th:id="'inputUpdateGroupName' + ${groupProduct.id}" th:value="${groupProduct.name}">
          </div>
        </div>
        <div class="modal-footer">
          <button th:id="'btnUpdateGroupProduct' + ${groupProduct.id}" type="button" class="btn btn-primary">Lưu lại</button>
          <button th:id="'btnDeleteGroupProduct' + ${groupProduct.id}" type="button" class="btn btn-danger">Xoá</button>
        </div>
      </div>
    </div>
  </div>
  </th:block>

<!--  Modal sửa tên nhà cung cấp -->
  <div class="modal fade" id="updateSupplier" tabindex="-1" aria-labelledby="modalUpdateSupplier" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalUpdateSupplier">Sửa nhà cung cấp</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="groupName">Nhập tên nhà cung cấp:</label>
            <input type="text" class="form-control" id="inputUpdateSupplier">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button id="btnUpdateSupplier" type="button" class="btn btn-primary">Tạo</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Xác nhận xoá -->
  <div id="confirmModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xoá</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body ">
          <p>Bạn có chắc chắn muốn xoá?</p>
        </div>
        <div class="modal-footer">
          <button id="confirmDelete" type="button" class="btn btn-danger">Xoá</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Hủy</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal xuất nhập file -->
  <div id="fileHandle" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Xử lý nhập, xuất file excel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
  </div>
  <!-- Modal in tem mã -->
  <div class="modal fade" id="print-stamp" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">In tem mã</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-container table-modal">
            <div class="table-responsive">
              <table class="table table-hover modal-print">
                <thead>
                  <tr>
                    <th>
                      Mã hàng
                    </th>
                    <th>
                      Tên hàng
                    </th>
                    <th>
                      Giá bán
                    </th>
                    <th>
                      Số lượng
                    </th>
                    <th>
                    </th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button id="print" type="button" class="btn btn-primary">In</button>
        </div>
      </div>
    </div>
  </div>
  <!--  Modal preview-->
  <div class="modal" id="previewModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">In tem mã</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>





<!-- content-wrapper ends -->
<th:block class="js">
  <!-- endinject -->
  <!-- endinject -->
  <!-- Custom js for this page-->


  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
  <!-- End custom js for this page-->
  <script th:inline="javascript">
    const groupProductList = /*[[${groupProductList}]]*/ [];
    console.log(groupProductList);
    const supplierList = /*[[${supplierList}]]*/[];
  </script>
  <script th:src="@{/js/inventory/inventory.js}"></script>
</th:block>

</body>

</html>
